@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: italic;
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp;
  }